table{
    border-collapse:collapse;
    border-spacing:0;
}
html{
    background-color:white;
    margin:0;
    padding:0;
}
td:active, table td:hover{
    background-color:white;
}
table td{
    cursor:pointer;
    text-align:center;
    padding: 0px;
    padding-bottom:0px;
    width:22px;
    height:22px;
    border: 2px solid black;
    color:white;
    font-weight:bold;
}
td img{
    height:100%;
    padding-bottom:0px;
}
#buscaminasVista{
    width: 220px;
    margin: 0 auto;
}
#time{
    color: black;
    width: 220px;
    margin: 0 auto;
    text-align:center;
}
#result{
    color: red;
    width: 220px;
    margin: 0 auto;
    text-align:center;
    font-size:40px;
}

h2{
    color:red;
    text-align:center;
}
#result{
    color:black;
    position:relative;
    bottom:50px;
}
#fondomenu{
    visibility:hidden;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    opacity:0.5;
    position:absolute;
    background-color:black;
}
body{
    width:80%;
    height:100%;
    background-color:white;
    margin: 0 auto;
    padding:0;
}
#menu{
    text-align:center;
    visibility:hidden;
    opacity:0.7;
    width:40%;;
    height:150px;
    background-color: white;
    border: 3px solid black;
    position:fixed;
    left:30%;
    top:15%;
}

#menu h3{
    color:red;
}
#menu button{
    border: 2px solid black;
    height:40px;
}

#time{
    font-weight:bold;
}
